<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/StyleSheet.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-brand">
        <img src="~/logo.png" width="25px" alt="Logo" asp-append-version="true" />
      </div>
      <ul>
        <li>
          <a asp-controller="Persons" asp-action="Index">Persons</a>
          <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries from Excel</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      @RenderBody()
    </div>
  </div>

  @RenderSection("scripts", required: false)
</body>
</html>